@model IEnumerable<Fashion.ERP.Web.Areas.Comum.Models.GridOperacaoProducaoModel>
<div class="well well-small">
    @Html.ActionLinkAuth("Novo", MVC.Comum.OperacaoProducao.Novo(), new { @class = "btn btn-primary" })
</div>
@Html.ValidationSummaryEx()
@(Html.Kendo().Grid(Model)
	.Name("Grid")
	.Columns(columns =>
	{
        columns.Bound(x => x.DepartamentoProducao);
        columns.Bound(x => x.SetorProducao);
        columns.Bound(x => x.Descricao);
        columns.Bound(x => x.Tempo).Format("{0:F2}");
		columns.Bound(x => x.Custo).Format("{0:F2}");
        columns.Template(item => Html.EditarAuth(MVC.Comum.OperacaoProducao.Editar(item.Id))).Width(80);
        columns.Template(item => Html.EditarSituacaoAuth(MVC.Comum.OperacaoProducao.EditarSituacao(item.Id), item.Ativo)).Width(80);
	})
)