@model IEnumerable<Fashion.ERP.Web.Areas.Comum.Models.GridCentroCustoModel>

<div id="modal-centrocusto" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                <h3>Centro de Custo</h3>
            </div>
            @using (Html.BeginForm(MVC.Comum.CentroCusto.Pesquisar()))
            {
                @Html.AntiForgeryToken()
                <div id="modal-body-centrocusto" class="modal-body" style="overflow-y: hidden;">
                    <div class="clearfix form-inline form-group">
                        @Html.DropDownList("ColunaPesquisa", null, new {@class = "pull-left form-control"})
                        <input name="ValorPesquisa" class="pull-left form-control" type="text" style="width: 68%" />
                        <input id="submit-pesquisar-centrocusto" type="button" value="Pesquisar" class="btn btn-default pull-right" />
                    </div>
                    <div id="grid-pesquisa-centrocusto"></div>    
                </div>
            }
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                <button id="selecionar-centrocusto" class="btn btn-primary" type="button">Selecionar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        // Se o id do centrocusto vier preenchido, preencher o código e o nome
        var centrocustoId = $('#CentroCusto').val();

        if (centrocustoId) {
            $.getJSON('/Comum/CentroCusto/PesquisarId/' + centrocustoId, function (data) {
                if (data.Id) {
                    $('#codigo-centrocusto').val(data.Codigo);
                    $('#nome-centrocusto').val(data.Nome);
                    $('#nome-centrocusto').prop("title", data.Nome);
                }
            });
        }

        $('#submit-pesquisar-centrocusto').off('click').on('click', function (e) {
            var form = $(this).closest("form");
            
            form.ajaxSubmit({
                dataType: 'json',
                cache: false,
                url: "@Html.GetUrl(MVC.Comum.CentroCusto.PesquisarFiltro())",
                beforeSubmit: function() {
                    e.preventDefault();
                },
                error: function (data) {
                    alert(data.responseText);
                },
                success: function (data) {

                    $(this).children(':submit').button('reset');

                    if (data.Error) {
                        alert(data.Error);
                        return;
                    }
                    
                    var grid = $("#grid-pesquisa-centrocusto").kendoGrid({
                        height: "380px",
                        selectable: "row",
                        columns: [
                            { field: "Id", hidden: true },
                            { field: "Nome", title: "Nome", width: 400 },
                            { field: "Codigo", title: "Código" }
                        ],
                        dataSource: data
                    });
                    
                    grid.delegate("tbody>tr", "dblclick", selecionarCentroCusto);
                },
            });

            return false;
        });
            
        
        $('#modal-centrocusto').on('hidden.bs.modal', function (e) {
            $('#ColunaPesquisa')[0].selectedIndex = 0;
            $('input[name$="valor"]').val('');
            $('#grid-pesquisa-centrocusto').empty();
            $('#grid-pesquisa-centrocusto').prop("class", "");
            $('#grid-pesquisa-centrocusto').prop("style", "");
        });
        
        
        var pesquisaCentroCusto = function (codigo) {
            
            if (codigo) {
                var url = '@Html.GetUrl(MVC.Comum.CentroCusto.PesquisarCodigo())?codigo=' + codigo;
                $.getJSON(url, function(data) {
                    if (data.erro) {
                        alert(data.erro);
                        $('#CentroCusto').val('').trigger('change');
                        $('#codigo-centrocusto').val('');
                        $('#nome-centrocusto').val('');
                        $('#nome-centrocusto').prop("title", "");
                    } else {
                        $('#CentroCusto').val(data.Id).trigger('change');
                        $('#codigo-centrocusto').val(data.Codigo);
                        $('#nome-centrocusto').val(data.Nome);
                        $('#nome-centrocusto').prop("title", data.Nome);
                    }
                });
            } else {
                $('#CentroCusto').val('').trigger('change');
                $('#codigo-centrocusto').val('');
                $('#nome-centrocusto').val('');
                $('#nome-centrocusto').prop("title", '');
            }
            
        };
        $('#codigo-centrocusto').on({
            keydown: function (e) {
                if (e.which == 13) {
                    e.preventDefault();
                    pesquisaCentroCusto($(this).val());
                }
            }
        });
        $('#selecionar-centrocusto').on('click', selecionarCentroCusto);
        
        function selecionarCentroCusto() {
            var grid = $('#grid-pesquisa-centrocusto').data("kendoGrid");

            if (!grid) return;

            var data = grid.dataItem(grid.select());
            
            if (data) {
                $('#CentroCusto').val(data.Id).trigger('change');
                $('#codigo-centrocusto').val(data.Codigo);
                $('#nome-centrocusto').val(data.Nome);
                $('#nome-centrocusto').prop("title", data.Nome);

                $('#modal-centrocusto').modal('hide');
            }
        }
    });
</script>