@model Fashion.ERP.Web.Areas.Compras.Models.PedidoCompraModel
<div id="modal-seleciona-pedidocompra" class="modal hide fade">
    <div class="modal-header">
        <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>Selecionar pedido de compra</h3>
    </div>
    @using (Html.BeginForm(MVC.Compras.OrdemEntradaCompra.SelecionarPedidoCompraFiltro()))
    {
        @Html.AntiForgeryToken()

        <div id="modal-body-cliente" class="modal-body" style="overflow-y: hidden;">
            <input type="hidden" id="IdFornecedor" name="IdFornecedor">
            <table class="width100">
                <tr>
                    <td>Data compra:</td>
                    <td style="width: 125px">@Html.Kendo().DatePicker().Name("DataInicial").Value(DateTime.Now.AddMonths(-1))</td>
                    <td style="text-align: center">a</td>
                    <td style="width: 125px">@Html.Kendo().DatePicker().Name("DataFinal").Value(DateTime.Now)</td>
                    <td style="text-align: right"><input id="submit-selecionar-pedidocompra" type="button" value="Filtrar" class="btn input-mini" /></td>
                </tr>
            </table>
            <div id="grid-seleciona-pedidocompra"></div>
        </div>
    }
    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
        <button id="selecionar-pedidocompra" class="btn btn-primary" type="button">Selecionar</button>
    </div>
</div>
<script>
    $(function () {
        $('#submit-selecionar-pedidocompra').off('click').on('click', function (e) {
            var form = $(this).closest("form");
            
            form.ajaxSubmit({
                dataType: 'json',
                cache: false,
                url: "/Compras/OrdemEntradaCompra/SelecionarPedidoCompraFiltro",
                beforeSubmit: function() { 
                    e.preventDefault();
                },
                error: function (data) {
                    alert(data.responseText);
                },
                success: function (data) {
                    if (data.Error) {
                        alert(data.Error);
                        return;
                    }

                    $(this).children(':submit').button('reset');
                    
                    var grid = $("#grid-seleciona-pedidocompra").kendoGrid({
                        height: "380px",
                        selectable: "row",
                        columns: [
                            { field: "Id", hidden: true },
                            { field: "Numero", title: "Número", width: 60 },
                            { field: "DataCompra", title: "Data", type: "date", format: "{0:d}" },
                            { field: "Comprador", title: "Comprador" },
                            { field: "ValorCompra", title: "Valor", format: "{0:c}" }
                        ],
                        dataSource: data,
                    });
                    
                    grid.delegate("tbody>tr", "dblclick", selecionarPeidoCompra);
                },
            });

            return false;
        });

        function dataFormatada(data) {
            var dia = data.getDate();
            if (dia.toString().length == 1)
                dia = "0" + dia;
            var mes = data.getMonth() + 1;
            if (mes.toString().length == 1)
                mes = "0" + mes;
            var ano = data.getFullYear();
            return dia + "/" + mes + "/" + ano;
        }
            
        $('#pesquisar-pedidocompra').on('click', function () {
            $('#modal-seleciona-pedidocompra').modal('show').one('hidden', function () {
                var dataInicial = new Date();
                var mes = dataInicial.getMonth();
                dataInicial.setMonth(mes - 1);
                $('input[name$="DataInicial"]').val(dataFormatada(dataInicial));
                $('input[name$="DataFinal"]').val(dataFormatada(new Date()));
                $('#grid-seleciona-pedidocompra').empty();
            });

            $("#IdFornecedor").val($("#Fornecedor").val());
        });
        
        $('#selecionar-pedidocompra').on('click', selecionarPeidoCompra);
        
        function selecionarPeidoCompra() {
            var grid = $('#grid-seleciona-pedidocompra').data("kendoGrid");

            if (!grid) return;

            var data = grid.dataItem(grid.select());
            
            if (data) {
                $('#PedidoCompra').val(data.Id).trigger('change');
                $('#numero-pedidocompra').val(data.Numero);

                $('#modal-seleciona-pedidocompra').modal('hide');

                // Adicionar automaticamentee
                //$('#btn-add').trigger('click');
            }
        }
    });
</script>