@model Fashion.ERP.Web.Areas.EngenhariaProduto.Models.NaturezaModel

<div class='header'>
    <h2 class="color-primary">Básicos</h2>
</div>

<div class="content">
    <div class="form-group">
        @Html.LabelForRequired(x => x.Descricao, new { @class="col-sm-3 control-label" })
    <div class="col-sm-6">
        @Html.EditorFor(x => x.Descricao)
        @Html.ValidationMessageFor(x => x.Descricao, null, new { @class="help-block" })
    </div>
    </div>
</div>
