@using Fashion.Framework.Mvc.Extensions
@model Fashion.ERP.Web.Areas.EngenhariaProduto.Models.NaturezaModel

@using (Html.BeginForm(MVC.EngenhariaProduto.Natureza.Novo(), FormMethod.Post, new { id="form", @class = "form-horizontal" })) {
	@Html.AntiForgeryToken()
    @Html.ValidationSummaryEx()
    @Html.Partial("_NovoOuEditar", Model)
	<div class="form-actions">
		<button id="btnSubmit" class="btn btn-primary" type="button" data-loading-text="Aguarde...">Salvar</button>
	</div>
}

<script>

    function obtenhaUrlActionSubmit() {
        return '@Url.Action("SalvarNovo", "Natureza")';
    }
</script>