@model IEnumerable<Fashion.ERP.Web.Areas.Compras.Models.GridMotivoCancelamentoPedidoCompraModel>
@using Kendo.Mvc.UI
<div class="well well-small">
    @Html.ActionLinkAuth("Novo", MVC.Compras.MotivoCancelamentoPedidoCompra.Novo(), new { @class = "btn btn-primary" })
</div>
@Html.ValidationSummaryEx()
@(Html.Kendo().Grid(Model)
	.Name("Grid")
	.Columns(columns =>
	{
        columns.Bound(x => x.Descricao);        
        columns.Template(item => Html.EditarAuth(MVC.Compras.MotivoCancelamentoPedidoCompra.Editar(item.Id))).Width(80);
        columns.Template(item => Html.EditarSituacaoAuth(MVC.Compras.MotivoCancelamentoPedidoCompra.EditarSituacao(item.Id), item.Ativo)).Width(80);
	})
)