@model IEnumerable<Fashion.ERP.Web.Areas.Comum.Models.GridSetorProducaoModel>
<div class="well well-sm">
    @Html.ActionLinkAuth("Novo", MVC.Comum.SetorProducao.Novo(), new { @class = "btn btn-primary" })
</div>
@Html.ValidationSummaryEx()
<div class="table-responsive">
    @(Html.Kendo().Grid(Model)
	    .Name("Grid")
	    .Columns(columns =>
	    {
		    columns.Bound(x => x.Nome);
		    columns.Bound(x => x.DepartamentoProducao);
            columns.Template(item => Html.EditarAuth(MVC.Comum.SetorProducao.Editar(item.Id))).Width(80);
            columns.Template(item => Html.EditarSituacaoAuth(MVC.Comum.SetorProducao.EditarSituacao(item.Id), item.Ativo)).Width(80);
	    }))
</div>