<div class="jumbotron" style="margin-top: 80px; background-color: #f8f8f8; ">
    <div class="container">
        <h2>Seja bem vindo ao <b>FashionERP</b>!</h2>
        <h5>Clique no botão no canto esquerdo superior para acessar as funcionalidades.</h5>
    </div>
</div>

