@if (this.HasSuccessMessage())
{
    <div id='success-modal' class='modal hide'>
        <div class='modal-header alert-success'>
            <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
            <h3>Sucesso</h3>
        </div>
        <div class='modal-body'>
        @foreach (var message in this.GetSuccessMessage())
        {
            <p>@message</p>
        }
        </div>
        <div class="modal-footer">
            <a id="fechar-button" href="javascript:void(0)" class="btn" data-dismiss="modal">Fechar</a>
        </div>
    </div>
    <script>
        $(function () {
            $('#success-modal').modal('show');
        });
    </script>
}
@if (this.HasInfoMessage())
{
    <div id='info-modal' class='modal hide'>
        <div class='modal-header alert-info'>
            <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
            <h3>Informação</h3>
        </div>
        <div class='modal-body'>
            @foreach (var message in this.GetInfoMessage())
            {
                <p>@message</p>
            }
        </div>
        <div class="modal-footer">
            <a id="fechar-button" href="javascript:void(0)" class="btn" data-dismiss="modal">Fechar</a>
        </div>
    </div>
    <script>
        $(function () {
            $('#info-modal').modal('show');
        });
    </script>
}
@if (this.HasErrorMessage())
{
    <div id='error-modal' class='modal hide'>
        <div class='modal-header alert-error'>
            <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
            <h3>Erro</h3>
        </div>
        <div class='modal-body'>
            @foreach (var message in this.GetErrorMessage())
            {
                <p>@message</p>
            }
        </div>
        <div class="modal-footer">
            <a id="fechar-button" href="javascript:void(0)" class="btn" data-dismiss="modal">Fechar</a>
        </div>
    </div>
    <script>
        $(function () {
            $('#error-modal').modal('show');
        });
    </script>
}
<script>
    $(function () {
        setTimeout(function () {
            $('#fechar-button').focus();
        }, 200);
        $('#fechar-button').on('click', function () {
            $(":input:visible:enabled:first").focus();
        });
    })
</script>