@model Fashion.ERP.Web.Areas.Producao.Models.ProgramacaoProducaoModel

@using (Html.BeginForm(MVC.Producao.ProgramacaoProducao.Editar(), FormMethod.Post, new { id="form", @class = "form-horizontal" })) {
	@Html.AntiForgeryToken()
    @Html.ValidationSummaryEx()
    @Html.Partial("_NovoOuEditar", Model)
	<div class="form-actions">
		<button id="btnSubmit" class="btn btn-primary" type="submit" data-loading-text="Aguarde...">Salvar</button>
		@Html.ExcluirAuth(MVC.Producao.ProgramacaoProducao.Excluir(Model.Id))
	</div>
}
@{Html.RenderPartial("_ConfirmDelete");}

@{
    Html.RenderAction("Pesquisar", "FichaTecnica", new { area = "Producao" });    
    Html.RenderAction("Pesquisar", "Funcionario", new { area = "Comum" }); 
}

<script>
    $(document).ready(function () {

        $("#Data").data("kendoDatePicker").enable(false);
        $("#Numero").attr("disabled", "disabled");
    });
</script>
