@model IEnumerable<Fashion.ERP.Web.Areas.Almoxarifado.Models.GridDepositoMaterialModel>
<div class="well">
    @Html.ActionLinkAuth("Novo", MVC.Almoxarifado.DepositoMaterial.Novo(), new { @class = "btn btn-primary" })
</div>
@Html.ValidationSummaryEx()
@(Html.Kendo().Grid(Model)
	.Name("Grid")
	.Columns(columns =>
	{
		columns.Bound(x => x.Nome);
        columns.Bound(x => x.DataAbertura).Format("{0:dd/MM/yyyy}");
		columns.Template(item => Html.EditarAuth(MVC.Almoxarifado.DepositoMaterial.Editar(item.Id))).Width(80);
        columns.Template(item => Html.EditarSituacaoAuth(MVC.Almoxarifado.DepositoMaterial.EditarSituacao(item.Id), item.Ativo)).Width(80);
	})
)
