@model IEnumerable<Fashion.ERP.Web.Areas.Almoxarifado.Models.GridFamiliaModel>
@using Kendo.Mvc.UI
<div class="well well-sm">
    @Html.ActionLinkAuth("Novo", MVC.Almoxarifado.Familia.Novo(), new { @class = "btn btn-primary" })
</div>
@Html.ValidationSummaryEx()
@(Html.Kendo().Grid(Model)
	.Name("Grid")
	.Columns(columns =>
	{
	    columns.Bound(x => x.Nome);
        columns.Template(item => Html.EditarAuth(MVC.Almoxarifado.Familia.Editar(item.Id))).Width(80);
        columns.Template(item => Html.EditarSituacaoAuth(MVC.Almoxarifado.Familia.EditarSituacao(item.Id), item.Ativo)).Width(80);
	})
)