@model IEnumerable<Fashion.ERP.Web.Areas.Comum.Models.GridMarcaModel>
<div class="well well-sm">
    @Html.ActionLinkAuth("Novo", MVC.Comum.Marca.Novo(), new { @class = "btn btn-primary" })
</div>
@Html.ValidationSummaryEx()

<div class="table-responsive">
    @(Html.Kendo().Grid(Model)
          .Name("Grid")
          .Columns(columns =>
          {
              columns.Bound(x => x.Nome);
              columns.Template(item => Html.EditarAuth(MVC.Comum.Marca.Editar(item.Id))).Width(80);
              columns.Template(item => Html.EditarSituacaoAuth(MVC.Comum.Marca.EditarSituacao(item.Id), item.Ativo)).Width(80);
          }))
</div>
