@model IEnumerable<Fashion.ERP.Web.Areas.Almoxarifado.Models.GridMaterialModel>

<div id="modal-material" class="modal hide fade">
    
    <div class="modal-header">
        <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>Pesquisar catálogo de material</h3>
    </div>
    @using (Html.BeginForm(MVC.Almoxarifado.Material.Pesquisar()))
    {
        @Html.AntiForgeryToken()
        <div id="modal-body-material" class="modal-body" style="overflow-y: hidden;">
            <div class="width100 clearfix">
                @Html.DropDownList("Coluna", null, new {@class = "pull-left input-medium"})
                <input name="valor" class="pull-left input-xlarge" type="text" />
                <input id="submit-pesquisar-material" type="button" value="Pesquisar" class="btn input-mini pull-right" />
            </div>
            <div id="grid-pesquisa-material"></div>
        </div>
    }
    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
        <button id="selecionar-material" class="btn btn-primary" type="button">Selecionar</button>
    </div>
</div>
<script>
    $(function () {
        // Se o id do material vier preenchido, preencher o código e descrição
        var materialId = $('#Material').val();

        if (materialId) {
            $.getJSON('/Almoxarifado/Material/PesquisarId/' + materialId, function (data) {
                if (data.Id) {
                    $('#referencia-material').val(data.Referencia);
                    $('#descricao-material').text(data.Descricao);
                }
            });
        }

        $('#submit-pesquisar-material').off('click').on('click', function (e) {
            var form = $(this).closest("form");
            
            form.ajaxSubmit({
                dataType: 'json',
                cache: false,
                url: "@Html.GetUrl(MVC.Almoxarifado.Material.PesquisarFiltro())",
                beforeSubmit: function() {
                    e.preventDefault();
                },
                success: function (data) {
                    if (data.Error) {
                        alert(data.Error);
                        return;
                    }

                    $(this).children(':submit').button('reset');
                
                    var grid = $("#grid-pesquisa-material").kendoGrid({
                        height: "380px",
                        selectable: "row",
                        columns: [
                            { field: "Id", hidden: true },
                            { field: "Referencia", title: "Referência" },
                            { field: "Descricao", title: "Descrição", width: 400 }
                        ],
                        dataSource: data
                    });
                    
                    grid.delegate("tbody>tr", "dblclick", selecionarMaterial);
                },
            });

            return false;
        });
            
        $('#pesquisar-material').on('click', function () {
            $('#modal-material').modal('show').one('hidden', function () {
                $('#Coluna')[0].selectedIndex = 0;
                $('input[name$="valor"]').val('');
                $('#grid-pesquisa-material').empty();
            });
        });
        var pesquisaMaterial = function (referencia) {
            if (referencia) {
                var url = '@Html.GetUrl(MVC.Almoxarifado.Material.PesquisarReferencia())?referencia=' + referencia;
                $.getJSON(url, function(data) {
                    if (data.erro) {
                        alert(data.erro);
                        $('#Material').val('').trigger('change');
                        $('#referencia-material').val('');
                        $('#descricao-material').text('');
                    } else {
                        $('#Material').val(data.Id).trigger('change');
                        $('#referencia-material').val(data.Referencia);
                        $('#descricao-material').text(data.Descricao);
                    }
                });
            } else {
                $('#Material').val('').trigger('change');
                $('#referencia-material').val('');
                $('#descricao-material').text('');
            }
        };
        $('#referencia-material').on({
            keydown: function (e) {
                if (e.which == 13) {
                    e.preventDefault();
                    pesquisaMaterial($(this).val());
                }
            }
        });
        $('#selecionar-material').on('click', selecionarMaterial);
        
        function selecionarMaterial() {
            var grid = $('#grid-pesquisa-material').data("kendoGrid");

            if (!grid) return;

            var data = grid.dataItem(grid.select());
            
            if (data) {
                $('#Material').val(data.Id).trigger('change');
                $('#referencia-material').val(data.Referencia);
                $('#descricao-material').text(data.Descricao);

                $('#modal-material').modal('hide');
            }
        }
    });
</script>