@model Fashion.ERP.Web.Areas.Comum.Models.CorModel

<div class='header'>
    <h2 class="color-primary">Cor</h2>
</div>

<div class="content">
    <div class="form-group">
        @Html.LabelForRequired(x => x.Nome, new { @class="col-sm-3 control-label" })
	<div class="col-sm-6">
        @Html.EditorFor(x => x.Nome)
		@Html.ValidationMessageFor(x => x.Nome, null, new { @class="help-block" })
    </div>
    </div>
</div>
