@model Fashion.ERP.Web.Areas.Comum.Models.CorModel

@using (Html.BeginForm(MVC.Comum.Cor.Editar(), FormMethod.Post, new { id="form", @class = "form-horizontal" })) {
	@Html.AntiForgeryToken()
    @Html.ValidationSummaryEx()
    @Html.Partial("_NovoOuEditar", Model)
	<div class="form-actions">
		<button id="btnSubmit" class="btn btn-primary" type="submit" data-loading-text="Aguarde...">Salvar</button>
		@Html.ExcluirAuth(MVC.Comum.Cor.Excluir(Model.Id))
	</div>
}
@{Html.RenderPartial("_ConfirmDelete");}
