@model IEnumerable<Fashion.ERP.Web.Areas.EngenhariaProduto.Models.GridSetorProducaoModel>
<div class="well well-small">
    @Html.ActionLinkAuth("Novo", MVC.EngenhariaProduto.SetorProducao.Novo(), new { @class = "btn btn-primary" })
</div>
@Html.ValidationSummaryEx()
@(Html.Kendo().Grid(Model)
	.Name("Grid")
	.Columns(columns =>
	{
		columns.Bound(x => x.Nome);
		columns.Bound(x => x.DepartamentoProducao);
        columns.Template(item => Html.EditarAuth(MVC.EngenhariaProduto.SetorProducao.Editar(item.Id))).Width(80);
        columns.Template(item => Html.EditarSituacaoAuth(MVC.EngenhariaProduto.SetorProducao.EditarSituacao(item.Id), item.Ativo)).Width(80);
	})
)