<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="fashionFramework">
      <section name="unitOfWork" type="Fashion.Framework.UnitOfWork.Configuration.UnitOfWorkConfiguration, Fashion.Framework.UnitOfWork" requirePermission="false" />
      <section name="service" type="Fashion.Framework.Service.Configuration.ServiceConfiguration, Fashion.Framework.Service" requirePermission="false" />
      <section name="email" type="Fashion.Framework.Email.Configuration.EmailConfiguration, Fashion.Framework.Email" requirePermission="false" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <fashionFramework>
    <unitOfWork assemblyMapping="Fashion.ERP.Mapping" />
  </fashionFramework>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="trace" xsi:type="Trace" />
      <target name="file" xsi:type="File" layout="${longdate} ${logger} ${message}" fileName="${basedir}/logs/logfile.txt" keepFileOpen="false" encoding="iso-8859-2" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="trace" />
      <logger name="*" minlevel="Error" writeTo="file" />
    </rules>
  </nlog>
  <log4net>
    <appender name="NHProfAppender" type="HibernatingRhinos.Profiler.Appender.NHibernate.NHProfAppender, HibernatingRhinos.Profiler.Appender.v4.0">
      <sink value="tcp://127.0.0.1:22897" />
    </appender>
    <logger name="HibernatingRhinos.Profiler.Appender.NHibernate.NHProfAppender.Setup">
      <appender-ref ref="NHProfAppender" />
    </logger>
    <logger name="NHibernate">
      <level value="INFO" />
    </logger>
    <logger name="NHibernate.SQL">
      <level value="ALL" />
    </logger>
  </log4net>
</configuration>