@model IEnumerable<Fashion.ERP.Web.Areas.Almoxarifado.Models.GridSaidaMaterialModel>
<div class="well well-small">
    @Html.ActionLinkAuth("Novo", MVC.Almoxarifado.SaidaMaterial.Novo(), new { @class = "btn btn-primary" })
</div>
@Html.ValidationSummaryEx()
@(Html.Kendo().Grid(Model)
	.Name("Grid")
	.Columns(columns =>
	{
        columns.Bound(x => x.DataSaida).Format("{0:dd/MM/yyyy}");
        columns.Bound(x => x.UnidadeOrigem);
		columns.Bound(x => x.DepositoMaterialOrigem);
        columns.Bound(x => x.CentroCusto);
        columns.Bound(x => x.UnidadeDestino);
		columns.Bound(x => x.DepositoMaterialDestino);
        columns.Template(item => Html.EditarAuth(MVC.Almoxarifado.SaidaMaterial.Editar(item.Id))).Width(80);
	})
)