@model Fashion.ERP.Web.Areas.Almoxarifado.Models.SaidaMaterialModel
@using (Html.BeginForm(MVC.Almoxarifado.SaidaMaterial.Novo(), FormMethod.Post, new { id="form", @class = "form-horizontal" })) {
	@Html.AntiForgeryToken()
    @Html.ValidationSummaryEx()
    @Html.Partial("_NovoOuEditar", Model)
	<div class="form-actions">
		<button id="btnSubmit" class="btn btn-primary" type="submit" data-loading-text="Aguarde...">Salvar</button>
	</div>
}
@{
    Html.RenderAction("Pesquisar", "CentroCusto", new { area = "Comum" });
    Html.RenderAction("Pesquisar", "Material", new { area = "Almoxarifado" });
}