@model SiteMapPathHelperModel
@using System.Web.Mvc.Html
@using System.Linq

<ul class="breadcrumb">
    @foreach (var node in Model)
    {
        <li>
            @Html.DisplayFor(m => node, "SiteMapPathNodeModel")
        </li>
    }
</ul>
