@model SiteMapNodeModel

@if (Model.IsCurrentNode && Model.SourceMetadata["HtmlHelper"].ToString() != "MvcSiteMapProvider.Web.Html.MenuHelper")
{ 
    <a href="">@Model.Title</a>
}
else if (Model.IsClickable)
{ 
    <a href="@Model.Url">@Model.Title</a>
}
else
{ 
    <a href=""><span>@Model.Title</span></a>
}