<div class="col-sm-2 no-gutter ">
    <div class="input-group">
        <input class="k-input k-textbox" id="Referencia" name="Referencia" type="text" value="" data-bind="value: Referencia" style="width: 90px">
        <span class="input-group-btn">
            <button id="pesquisar-material" class="btn btn-default btn-sm" type="button" data-toggle="modal" data-target="#modal-material" style="height: 17px">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
</div>

<script>
    $(function () {
        $('#submit-pesquisar-material').off('click').on('click', function (e) {
            var form = $(this).closest("form");
            
            $('input[name=TipoItemMaterial]').val($("#TipoItem").val());
            $("#FornecedorMaterial").val($("#Fornecedor").val());

            form.ajaxSubmit({
                dataType: 'json',
                cache: false,
                url: "@Html.GetUrl(MVC.Almoxarifado.Material.PesquisarFiltro())",
                beforeSubmit: function() {
                    e.preventDefault();
                },
                success: function (data) {
                    if (data.Error) {
                        alert(data.Error);
                        return;
                    }

                    $(this).children(':submit').button('reset');
                
                    var grid = $("#grid-pesquisa-material").kendoGrid({
                        height: "380px",
                        selectable: "row",
                        columns: [
                            { field: "Id", hidden: true },
                            { field: "Referencia", title: "Referência" },
                            { field: "Descricao", title: "Descrição", width: 400 }
                        ],
                        dataSource: data
                    });
                    
                    grid.delegate("tbody>tr", "dblclick", selecionarMaterial);
                },
            });

            return false;
        });
            
        var pesquisaMaterial = function (referencia) {
            if (referencia) {
                var tipoItemMaterial = $("#TipoItem").val();
                var fornecedorId = $("#Fornecedor").val();
                var url = '@Html.GetUrl(MVC.Almoxarifado.Material.PesquisarReferencia())?referencia=' + referencia + "&tipoItemMaterial=" + tipoItemMaterial + "&fornecedorId=" + fornecedorId;
                $.getJSON(url, function(data) {
                    if (data.erro) {
                        alert(data.erro);
                        limpeLinhaGridInterno();
                    } else {
                        var gridItens = obtenhaGridItens();

                        if (!valideReferenciaExistenteNaGrid(data.Referencia)) {
                            return;
                        }
                        var tr = $("#Referencia").closest("tr");
                        var dataGridItens = gridItens.dataItem(tr);
                        dataGridItens.set("Descricao", data.Descricao);
                        dataGridItens.set("Referencia", data.Referencia);
                        dataGridItens.set("UnidadeMedida", data.UnidadeMedida);
                        dataGridItens.set("ReferenciaExterna", data.ReferenciaExterna);
                        $("#Descricao").trigger("change");
                    }
                });
            } else {
                limpeLinhaGridInterno();
            }
        };

        var entrouKeyDown = false;
        $('#Referencia').on({
            keydown: function(e) {
                if (e.which == 13) {
                    e.preventDefault();
                    if (!$('#Referencia').val()) {
                        limpeLinhaGridInterno();
                    }
                    pesquisaMaterial($(this).val());
                    entrouKeyDown = true;
                }
            },
            focusout: function() {
                if (entrouKeyDown) {
                    entrouKeyDown = false;
                    return;
                }
                if (!$('#Referencia').val()) {
                    limpeLinhaGridInterno();
                } else {
                    pesquisaMaterial($(this).val());
                }
            }
        });
        $('#selecionar-material').on('click', selecionarMaterial);

        function limpeLinhaGridInterno() {
            if (typeof limpeLinhaGrid == 'function') {
                limpeLinhaGrid();
                return;
            }
            var gridItens = obtenhaGridItens();
            var tr = $("#Referencia").closest("tr");
            var dataGridItens = gridItens.dataItem(tr);
            dataGridItens.set("Descricao", null);
            dataGridItens.set("Referencia", null);
            dataGridItens.set("UnidadeMedida", null);
            dataGridItens.set("ReferenciaExterna", null);
        }

        function valideReferenciaExistenteNaGrid(referencia) {
            var grid = obtenhaGridItens();
            var dadosGrid = grid.dataSource.data();

            for (var i = 0; i < dadosGrid.length; i++) {
                var dataItem = dadosGrid[i];

                var dataItemEmEdicao = grid.dataItem(grid.tbody.find("#pesquisar-material").closest("tr"));
                if (dataItem.uid == dataItemEmEdicao.uid) {
                    continue;
                }

                if (dataItem.Referencia == referencia) {
                    alert("Não é possível selecionar o mesmo material mais de uma vez.");
                    $("#Referencia").val('');
                    return false;
                }
            }
            return true;
        }

        function selecionarMaterial() {
            var grid = $('#grid-pesquisa-material').data("kendoGrid");

            if (!grid) return;

            var data = grid.dataItem(grid.select());

            if (data) {

                var gridItens = obtenhaGridItens();

                if (!valideReferenciaExistenteNaGrid(data.Referencia)) {
                    return;
                }

                var tr = $("#Referencia").closest("tr");
                var dataGridItens = gridItens.dataItem(tr);
                dataGridItens.set("Descricao", data.Descricao);
                dataGridItens.set("Referencia", data.Referencia);
                dataGridItens.set("UnidadeMedida", data.UnidadeMedida);
                dataGridItens.set("ReferenciaExterna", data.ReferenciaExterna);

                $('#modal-material').modal('hide');
            }
        }

        function obtenhaGridItens() {
            var nomeGrid = '@ViewData["nomeGrid"]';

            if (nomeGrid == '') 
                nomeGrid = "GridItens";
            
            return $('#' + nomeGrid).data("kendoGrid");
        }
    });
</script>