@model IEnumerable<Fashion.ERP.Web.Areas.Comum.Models.GridEmpresaModel>

<script type="text/javascript">
    function checkIfEmpty1() {
        alert("entrou1");
    }

    function checkIfEmpty2() {
        alert("entrou2");
    }
</script>

<div class="well well-sm">
    @Html.ActionLinkAuth("Novo", MVC.Comum.Empresa.Novo(), new { @class = "btn btn-primary" })
</div>
@Html.ValidationSummaryEx()
@(Html.Kendo().Grid(Model)
	.Name("Grid")
	.Columns(columns =>
	{
		columns.Bound(x => x.Codigo);
		columns.Bound(x => x.CpfCnpj);
		columns.Bound(x => x.Nome);
        columns.Template(item => Html.EditarAuth(MVC.Comum.Empresa.Editar(item.Id))).Width(80);
        columns.Template(item => Html.EditarSituacaoAuth(MVC.Comum.Empresa.EditarSituacao(item.Id), item.Ativo)).Width(80);
	})
)
