@model IEnumerable<Fashion.ERP.Web.Areas.Comum.Models.GridProfissaoModel>

<div class="well well-sm">
    @Html.ActionLinkAuth("Novo", MVC.Comum.Profissao.Novo(), new { @class = "btn btn-primary" })
</div>
@Html.ValidationSummaryEx()
@(Html.Kendo().Grid(Model)
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(x => x.Nome);
        columns.Template(item => Html.EditarAuth(MVC.Comum.Profissao.Editar(item.Id))).Width(80);
    })
)