@using Fashion.Framework.Mvc.Extensions
@model Fashion.ERP.Web.Areas.Comum.Models.ProfissaoModel

<div class="block-flat">
    @using (Html.BeginForm(MVC.Comum.Profissao.Novo(), FormMethod.Post, new { id="form", @class = "form-horizontal" })) {
	@Html.AntiForgeryToken()
    @Html.ValidationSummaryEx()
    @Html.Partial("_NovoOuEditar", Model)
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10 topOffset-15">
                <button id="btnSubmit" class="btn btn-primary" type="submit" data-loading-text="Aguarde...">Salvar</button>
            </div>
        </div>
    }
</div>
