@model IEnumerable<Fashion.ERP.Web.Areas.Comum.Models.GridArtigoModel>
<div class="well well-sm">
    @Html.ActionLinkAuth("Novo", MVC.Comum.Artigo.Novo(), new { @class = "btn btn-primary" })
</div>
@Html.ValidationSummaryEx()

<div class="table-responsive">
    @(Html.Kendo().Grid(Model)
        .Name("Grid")
        .Columns(columns =>
        {
            columns.Bound(x => x.Descricao);
            columns.Template(item => Html.EditarAuth(MVC.Comum.Artigo.Editar(item.Id))).Width(80);
            columns.Template(item => Html.EditarSituacaoAuth(MVC.Comum.Artigo.EditarSituacao(item.Id), item.Ativo)).Width(80);
        }))
</div>