@model IEnumerable<Fashion.ERP.Domain.Comum.PerfilDeAcesso>

<div class="well well-sm">
    @Html.ActionLinkAuth("Novo", MVC.Comum.PerfilDeAcesso.Novo(), new { @class = "btn btn-primary" })
</div>
@Html.ValidationSummaryEx()

<div class="table-responsive">
    @(Html.Kendo().Grid(Model)
        .Name("Grid")
        .Columns(columns =>
        {
            columns.Bound(x => x.Nome);
            columns.Template(item => Html.EditarAuth(MVC.Comum.PerfilDeAcesso.Editar(item.Id.GetValueOrDefault()))).Width(80);
        }))
</div>