@model IEnumerable<Fashion.ERP.Web.Areas.EngenhariaProduto.Models.GridComprimentoModel>
<div class="well well-small">
    @Html.ActionLinkAuth("Novo", MVC.EngenhariaProduto.Comprimento.Novo(), new { @class = "btn btn-primary" })
</div>
@Html.ValidationSummaryEx()
@(Html.Kendo().Grid(Model)
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(x => x.Descricao);
        columns.Template(item => Html.EditarAuth(MVC.EngenhariaProduto.Comprimento.Editar(item.Id))).Width(80);
        columns.Template(item => Html.EditarSituacaoAuth(MVC.EngenhariaProduto.Comprimento.EditarSituacao(item.Id), item.Ativo)).Width(80);
    })
)