@model IEnumerable<Fashion.ERP.Web.Areas.Comum.Models.GridBancoModel>

<div id="modal-banco" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                <h3>Banco</h3>
            </div>
            @using (Html.BeginForm(MVC.Comum.Banco.Pesquisar(), FormMethod.Post, new { id = "form-pesquisar-banco" }))
            {
                @Html.AntiForgeryToken()
               
                <div id="modal-body-banco" class="modal-body" style="overflow-y: hidden;">
                    <div class="clearfix form-inline" style="margin-bottom: 15px;">
                        @Html.DropDownList("ColunaPesquisa", null, new {@class = "pull-left form-control"})
                        <input name="ValorPesquisa" class="pull-left form-control" type="text" style="width: 67%" />
                        <input id="submit-pesquisar-banco" type="button" value="Pesquisar" class="btn btn-default pull-right" />
                    </div>
                    <div id="grid-pesquisa-banco"></div>    
                </div>
            }
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                <button id="selecionar-banco" class="btn btn-primary" type="button">Selecionar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        // Se o id do banco vier preenchido, preencher o código e descrição
        var bancoId = $('#Banco').val();
        
        if (bancoId) {
            $.getJSON('/Comum/Banco/PesquisarId/' + bancoId, function (data) {
                if (data.Id) {
                    $('#codigo-banco').val(data.Codigo);
                    $('#descricao-banco').val(data.Nome);
                }
            });
        }
        
        $('#submit-pesquisar-banco').off('click').on('click',function () {
            var form = $(this).closest("form");

            form.ajaxSubmit({
                dataType: 'json',
                cache: false,
                url: "/Comum/Banco/PesquisarFiltro",
                error: function (data) {
                    alert(data.responseText);
                },
                success: function (data) {
                    if (data.Error) {
                        alert(data.Error);
                        return;
                    }

                    var grid = $("#grid-pesquisa-banco").kendoGrid({
                        height: "380px",
                        selectable: "row",
                        columns: [
                            { field: "Id", hidden: true },
                            { field: "Nome", title: "Nome" },
                            { field: "Codigo", title: "Código" }
                        ],
                        dataSource: data,
                    });

                    grid.delegate("tbody>tr", "dblclick", selecionarBanco);
                },
            });
            
            return false;
        });
        
        $('#modal-banco').on('hidden.bs.modal', function (e) {
            $('#ColunaPesquisa')[0].selectedIndex = 0;
            $('input[name$="ValorPesquisa"]').val('');
            $('#grid-pesquisa-banco').empty();
        });

        var pesquisaBanco = function (codigo) {
            if (codigo) {
                var url = '/Comum/Banco/PesquisarCodigo?codigo=' + codigo;
                $.getJSON(url, function(data) {
                    if (data.erro) {
                        alert(data.erro);
                        $('#Banco').val('').trigger('change');
                        $('#codigo-banco').val('');
                        $('#descricao-banco').val('');
                    } else {
                        $('#Banco').val(data.Id).trigger('change');
                        $('#codigo-banco').val(data.Codigo);
                        $('#descricao-banco').val(data.Nome);
                    }
                });
            } else {
                $('#Banco').val('').trigger('change');
                $('#codigo-banco').val('');
                $('#descricao-banco').val('');
            }
        };
        $('#codigo-banco').on({
            keydown: function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    pesquisaBanco($(this).val());
                }
            }
        });
        $('#selecionar-banco').on('click', selecionarBanco);

        function selecionarBanco() {
            var grid = $('#grid-pesquisa-banco').data("kendoGrid");

            if (!grid) return;

            var data = grid.dataItem(grid.select());
            
            if (data) {
                $('#Banco').val(data.Id).trigger('change');
                $('#codigo-banco').val(data.Codigo);
                $('#descricao-banco').val(data.Nome);

                $('#modal-banco').modal('hide');
            }
        }
    });
</script>