@model IEnumerable<Fashion.ERP.Web.Areas.Comum.Models.GridMeioPagamentoModel>

<div class="well well-sm">
    @Html.ActionLinkAuth("Novo", MVC.Comum.MeioPagamento.Novo(), new { @class = "btn btn-primary" })
</div>
@Html.ValidationSummaryEx()
@(Html.Kendo().Grid(Model)
	.Name("Grid")
	.Columns(columns =>
	{
		columns.Bound(x => x.Descricao);
        columns.Template(item => Html.EditarAuth(MVC.Comum.MeioPagamento.Editar(item.Id))).Width(80);
	})
)